<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ relative('/milligram.css') }}">
    <link rel="stylesheet" href="{{ relative('/stil.css') }}">
    <link rel="stylesheet" href="{{ relative('/tk-elements.css') }}">
</head>
<body>
    <header><h1>Designsystem for Trondheim kommune</h1></header>
    <div id="container">
        <nav>
            {% for menuitem in filetree %}
                <a href="{{ relative(menuitem.path) }}">{{ menuitem.title }}</a>
                {% for member in menuitem.members %}
                    <a href="{{ relative(member.path) }}" class=".menuitem-member"> {{ menuitem.title }} / {{ member.title }}</a>
                {% endfor %}
            {% endfor %}
        </nav>
        <div id="content">
            <h2>{{title}}</h2>
            {{contents}}
        </div>
    </div>
    <script src="tk-elements.js"></script>
</body>
